@model IEnumerable<WebApplication15.Models.ProdavnicaProizvodi>

@{
    /**/

    ViewBag.Title = "Proizvodi";


}
<style>
    body {
        background-color: greenyellow;
    }

    .logovanje {
        border: 4px solid black;
        background-color: white;
        width: 80px;
        float: right;
        color: black;
    }

    .registracija {
        border: 4px solid black;
        background-color: white;
        width: 80px;
        float: right;
        color: black;
    }
</style>

<body>
    <div class="logovanje">
        <a href="/Korisnik/login"><font color="black">Logovanje</font></a>
    </div>
    <div class="registracija">
        <a href="/Korisnik/AddOrEdit"><font color="black">Registracija</font></a>
    </div>

    <h2>Nasi mrsni proizvodi</h2>
    @using (Html.BeginForm("Lista2", "Proizvod", FormMethod.Get))
    {

        @Html.TextBox("searching")<input type="submit" value="Search" />
    }
    <br />
    <div class="jumbotron">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Ime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Proizvodjac)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vrsta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cena)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3" style="color:red">
                            Nema trazenog proizvoda
                        </td>
                    </tr>
                }
                else
                {



                    foreach (var item in Model)
                    {
                        if (item.Vrsta == "mrsno")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Proizvodjac)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vrsta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cena)
                                </td>
                                <td>

                                    @Html.ActionLink("Kupi", "login", "korisnik")
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
 
</body>
